Repository awslabs/gluonts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vafl, @rshyamsundar, @jaheba, @jgasthaus

.github/CODEOWNERS:

# Models

# Wavenet
/src/gluonts/model/wavenet/ @vafl

# NPTS
/src/gluonts/model/npts/ @rshyamsundar



# Dataset

/src/gluonts/dataset/ @jaheba

/src/gluonts/dataset/artificial @jgasthaus


# Shell

/src/gluonts/shell/ @jaheba

small fixes (#361)
  src/gluonts/core/component.py
  src/gluonts/model/npts/_model.py
Owners: @rshyamsundar

Fix documentation
  src/gluonts/dataset/split/splitter.py
Owners: @jaheba

Fix documentation (#362)
  src/gluonts/dataset/split/splitter.py
Owners: @jaheba

Using custom SerDe methods for deserializing params in Sagemaker
  src/gluonts/shell/sagemaker/params.py
Owners: @jaheba

Ensuring embedding dimension is not None
  src/gluonts/model/deepar/_estimator.py
  src/gluonts/model/deepstate/_estimator.py
Owners: none
