Repository awslabs/gluonts, pull requests merged in 2024-01, with the labels that each got.

#3094 Fix type annotation for device in PyTorchPredictor
  src/gluonts/torch/model/predictor.py
Labels: pending v0.14.x backport

#3093 Unify QuantileOutput and DistributionOutput
  pyproject.toml
  src/gluonts/model/forecast_generator.py
  src/gluonts/mx/model/predictor.py
  src/gluonts/mx/model/seq2seq/_forking_network.py
  src/gluonts/mx/model/seq2seq/_seq2seq_network.py
  src/gluonts/mx/model/tft/_network.py
  src/gluonts/torch/distributions/__init__.py
  src/gluonts/torch/distributions/distribution_output.py
  src/gluonts/torch/distributions/implicit_quantile_network.py
  src/gluonts/torch/distributions/isqf.py
  src/gluonts/torch/distributions/output.py
  src/gluonts/torch/distributions/piecewise_linear.py
  src/gluonts/torch/distributions/quantile_output.py
  src/gluonts/torch/distributions/spliced_binned_pareto.py
  src/gluonts/torch/model/d_linear/estimator.py
  src/gluonts/torch/model/d_linear/lightning_module.py
  src/gluonts/torch/model/d_linear/module.py
  src/gluonts/torch/model/deepar/estimator.py
  src/gluonts/torch/model/deepar/lightning_module.py
  src/gluonts/torch/model/deepar/module.py
  src/gluonts/torch/model/i_transformer/estimator.py
  src/gluonts/torch/model/i_transformer/lightning_module.py
  src/gluonts/torch/model/i_transformer/module.py
  src/gluonts/torch/model/lag_tst/estimator.py
  src/gluonts/torch/model/lag_tst/lightning_module.py
  src/gluonts/torch/model/lag_tst/module.py
  src/gluonts/torch/model/mqf2/distribution.py
  src/gluonts/torch/model/mqf2/estimator.py
  src/gluonts/torch/model/mqf2/lightning_module.py
  src/gluonts/torch/model/mqf2/module.py
  src/gluonts/torch/model/patch_tst/estimator.py
  src/gluonts/torch/model/patch_tst/lightning_module.py
  src/gluonts/torch/model/patch_tst/module.py
  src/gluonts/torch/model/predictor.py
  src/gluonts/torch/model/simple_feedforward/estimator.py
  src/gluonts/torch/model/simple_feedforward/lightning_module.py
  src/gluonts/torch/model/simple_feedforward/module.py
  src/gluonts/torch/model/tft/estimator.py
  src/gluonts/torch/model/tft/layers.py
  src/gluonts/torch/model/tft/lightning_module.py
  src/gluonts/torch/model/tft/module.py
  src/gluonts/torch/modules/loss.py
  src/gluonts/torch/modules/quantile_output.py
  test/torch/model/test_estimators.py
  test/torch/model/test_modules.py
  test/torch/model/test_tft.py
  test/torch/modules/test_torch_distribution_inference.py
Labels: enhancement, BREAKING, models, mxnet, torch

#3096 add TiDE model
  src/gluonts/torch/__init__.py
  src/gluonts/torch/model/tide/__init__.py
  src/gluonts/torch/model/tide/estimator.py
  src/gluonts/torch/model/tide/lightning_module.py
  src/gluonts/torch/model/tide/module.py
  test/torch/model/test_estimators.py
Labels: models, new feature, torch
